[submodule "external/egap"]
	path = external/egap
	url = https://github.com/felipelouza/egap/
[submodule "external/gsufsort"]
	path = external/gsufsort
	url = https://github.com/felipelouza/gsufsort
[submodule "external/libbsc"]
	path = external/libbsc
	url = https://github.com/IlyaGrebnov/libbsc
[submodule "external/SPRING"]
	path = external/SPRING
	url = https://github.com/shubhamchandak94/Spring.git
	branch = reorder-only
